header{
text-align: left;
color: blue;
}
 
header .judul:hover{
    font-size: 25pt;
    cursor: pointer;
    color: blueviolet;
}

body{
    background-color: white;
}

button{
    width: 100%;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 4px gray;
}

button:hover{
    background-color: pink;
    transition: 02.s;
}

.nav{
    background-color: royalblue;
    padding: 5px;
}

.new{
    padding: 7px;
    color: white;
}
.new:hover{
    cursor: pointer;
    background-color: rosybrown;
}

.aktif{
    background-color: burlywood;
}

.home{
    background-color: #F5F5DC;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 10px;
}

.es{
    display: none;
    background-color: #F5F5DC;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 10px;
}
